/* MUISC PLAYER */

#nowPlayingBarContainer{
    background-color: #282828;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
}

*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.controlButton{
    border: none;
    background-color: transparent;
    outline: none;
    vertical-align: middle;
}

.controlButton:focus{
    border: none;
    outline: none;
}

.controlButton-container{
    display: flex;
    justify-content: center;
}

.controlButton img{
    width: 1.5rem;
    height: 1.5rem;
}

.playbt-i, .pausebt-i{
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.progressTime{
    color: #a0a0a0;
    font-size: 0.9rem;
}

.progressbar{
    width: 100%;
    height: 10px;
}

.progressbar-bg{
    background-color: #404040;
    height: 0.4rem;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.progressprogress{
    background-color: #a0a0a0;
    height: 0.4rem;
    width: 0;
    border-radius: 3px;
    cursor: pointer;
}

.playBar-container .progressbar{
    margin-top: 8px;
}

/* .bar-left{
    padding-left: 2rem;
} */

.bar-left .albumArtwork{
    height: 100%;
    max-width:7rem;
    margin-right: 15px ;
    float: left;
    background-size: cover;
}

.track-info{
    display: table;
}

.trackname {
    margin: 6px 0px;
    display: inline-block;
    width: 100%;  
    font-size: 1.2rem;  
}

.artistname{
    color: #a0a0a0;
    font-size: 0.9rem !important;
}

.volume-bar .progressbar{
    width: 200px;
    margin-top: 10px;
}

.volume-bar{
    margin: 0px auto;
}

/* CONTAINERS */

.top-container{
    min-height:100%;
    background-color: #181818;
}

.mainview-container{
    padding-bottom: 130px;
    background-color: #181818;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navigation-container{
    background-color: #000;
}

@media only screen and (max-width:768px){
    .main-container{
        padding-top: 2%;
        padding-left: 0;
        padding-right: 0;
        /* padding-bottom: 200px; */
        background-color: #181818;
    }
    .mainview-container{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 200px;
    }
}

/* NAVBAR SIDEBAR */

.sidebar-tog{
    padding:0.8rem;
    background-color: white;
    border-radius: 50%;
    margin-left:3%;
} 

.side-logo img{
    width: 40px;
}

.group1{
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.s-nav .nav-item{
    padding: 2px 0;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.3rem;
    display: block;
    position: relative;
}

.s-nav .nav-item .nav-link{
    color: #a0a0a0;
}

.s-nav .nav-item .nav-link:hover{
    color: #fff;
}
.s-nav .nav-item .nav-link:focus{
    border: none;
    outline: none;
}
.s-nav .nav-item .nav-link:active{
    border: none;
    outline: none;
}
.ic-search{
    position: absolute;
    right: 0;
    top: 5px;
    width: 3rem;
}

.sidebar-zz{
    z-index: 3;
}

@media only screen and (min-width:768px){
    .sidebar{
        position: fixed;
        width: 15%;
    }

}


/* LANDING PAGE */

.heading{
    padding: 20px;
    font-family: castellar;
}

.album-img{
    width: 100%;
    border: 0.2px solid #fff;
}

.album-links{
    text-decoration: none;
    color: #fff !important;
}

.album-links:hover{
    text-decoration: none;
}

.album-links:focus{
    border: none;
    outline: none;
}

.album-links:active{
    border: none;
    outline: none;
}

.grid-view-item{
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    height: 200px;
}

.grid-view-info {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (max-width:768px){
    .gridviewContainer{
        padding: 0 !important;
    }

    .left-section,.right-section{
        width:50% !important;
    }
    .grid-view-item{
        min-width: 100px;
        height: 150px;
    }
}

.left-section{
    width: 30%;
    float: left;
    max-width: 250px;
}

.right-section{
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.al-name{
    font-weight: 600;
    font-size: 2rem;
}

.al-artist-name{
    color: #939393;
    font-weight: 400;
    font-size: 1.3rem;
}

.al-songs{
    color: #939393;
    font-weight: 200;
}

.al-i{
  border: 1px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #fff, #939393,#fff);
}

.tracklist{
    padding: 0;
}

.tracklist-row{
    padding: 10px 10px;
    height: 73px;
    border: 1px solid #282828;
}

.tracklist-row:hover{
    background-color: #282828;
}

.tracklist-row span{
    font-weight: 200;
    color: #939393;
}

.tracklist-row .track-count{
    width: 8%;
    float: left;
}

.tracklist-row .track-count img{
    width: 40px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklist-row:hover .track-count img{
    visibility: visible;
}

.tracklist-row .track-count span{
    visibility: visible;
}

.tracklist-row:hover .track-count span{
    visibility: hidden;
}

.tracklist-row .track-info{
    width: 75%;
    float: left;
}

.tracklist-row .track-info span{
    display: block;
}

.tracklist-row .track-options{
    width: 5%;
    float: left;
    text-align: right;
}

.tracklist-row .track-options img{
    width: 35px;
    visibility: hidden;
    cursor: pointer;
}

.tracklist-row:hover .track-options img{
    visibility: visible;
}

.tracklist-row .track-duration{
    width: 12%;
    float: left;
    text-align: right;
}

.track-info .track-name{
    color: #fff;
    margin-bottom: 1px ;
}

@media only screen and (max-width:768px){
    .tracklist-row .track-count{
        width: 12%;
    }
    .tracklist-row .track-info{
        width: 66%;
    }
    .tracklist-row .track-options{
        width: 10%;
        text-align: left !important;
    }
    .feedback-form{
        padding: 0 !important;
    }
}