#nowPlayingBarContainer{
    background-color: #282828;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
}

*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.controlButton{
    border: none;
    background-color: transparent;
    outline: none;
    vertical-align: middle;
}

.controlButton:focus{
    border: none;
    outline: none;
}

.controlButton-container{
    display: flex;
    justify-content: center;
}

.controlButton img{
    width: 1.5rem;
    height: 1.5rem;
}

.playbt-i, .pausebt-i{
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.progressTime{
    color: #a0a0a0;
    font-size: 0.9rem;
}

.progressbar{
    width: 100%;
    height: 10px;
}

.progressbar-bg{
    background-color: #404040;
    height: 0.4rem;
    width: 100%;
    border-radius: 3px;
}

.progressprogress{
    background-color: #a0a0a0;
    height: 0.4rem;
    width: 0;
    border-radius: 3px;
}

.playBar-container .progressbar{
    margin-top: 8px;
}

.bar-left .albumArtwork{
    height: 100%;
    max-width:7rem;
    margin-right: 15px ;
    float: left;
    background-size: cover;
}

.track-info{
    display: table;
}
.trackname {
    margin: 6px 0px;
    display: inline-block;
    width: 100%;  
    font-size: 1.2rem;  
}

.artistname{
    color: #a0a0a0;
    font-size: 0.9rem !important;
}

.volume-bar .progressbar{
    width: 200px;
    margin-top: 10px;
}

.volume-bar{
    margin: 0px auto;
}