.home-navbar{
    background-color: black;
}

.home-link{
    /* color: azure; */
    font-weight: bold;
    font-size: 1.5em;
    background: -webkit-linear-gradient( -225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-link:hover{
    background: -webkit-linear-gradient( -225deg, white 0% ,white 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-navbar-brand{
    font-weight: bolder;
    /* color: azure; */
    font-size: 1.8em;
    background: -webkit-linear-gradient( -225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-background{
    background-image: url('./assets/background.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    text-align: center;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 10px;
}

.text-box{
    background: rgba(0, 0, 0, 0.2); 
    padding-top: 3%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    min-width: 800px;
    border: 5px double black;
    border-radius: 20px;
}

@media only screen and (max-width: 825px) {
    .text-box {
      min-width:700px ;
    }
  }

  @media only screen and (max-width: 725px) {
    .text-box {
      min-width:500px ;
    }
  }
  @media only screen and (max-width: 550px) {
    .text-box {
      min-width:300px ;
    }
  }

.des-home{
    font-size: 2em;
    font-weight: 800;
    text-align: left;

}

.home-ul li{
    font-size:1.2em;
    font-weight: 500;
}

.navbar-toggler{
    border: 2px solid white;
    font-size: 1.5rem;
}

.navbar-toggler-icon{
    color:white;
}

.footer{
    color: white;
    background-color:black;
    text-align: center;
}

.social{
    background: rgba(41, 40, 40, 0.712);
    padding: 15px;
    border-radius: 50%;
    font-size: 1.5em;
}

.title-home{
    font-size: 3em;
    font-weight:900;
    font-family: castellar;
    color: black;
}

.home-ul li {
	margin: 0;
    padding: 10px 40px;
	list-style: none;
	background-image: url("./assets/checkmark.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

.get-button{
    color: #EEADE2;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px double #EEADE2;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.3em;
    text-transform: uppercase;
}

.get-button:hover{
    color: white;
    background: linear-gradient(to right, black, #EEADE2);
    border: 4px double black;
}

